pkgbase = visual-studio-code-bin
	pkgdesc = Visual Studio Code (official binary version)
	pkgver = 1.139.1
	pkgrel = 1
	url = https://code.visualstudio.com/
	arch = x86_64
	license = custom:commercial
	depends = libxkbfile
	depends = gnupg
	depends = gtk3
	depends = libsecret
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc
	depends = lsof
	depends = shared-mime-info
	depends = xdg-utils
	depends = alsa-lib
	optdepends = glib2: move files to trash
	optdepends = libdbusmenu-glib: KDE global menu
	optdepends = org.freedesktop.secrets: settings sync
	optdepends = icu69: Live Share
	provides = code
	provides = vscode
	conflicts = code
	options = !strip
	source = visual-studio-code-bin.sh
	sha256sums = 6b0eaa5d267dfda152050e203bf8567e5ba36be575a9b31243498978f357f5bb
	source_x86_64 = code_1.139.1_amd64.deb::https://update.code.visualstudio.com/1.139.1/linux-deb-x64/stable
	sha256sums_x86_64 = cc8e35cf69ff4c7e515e19fa981bf6aba41f61ddb61c79370e9fe460c5dbaf8b

pkgname = visual-studio-code-bin
