pkgbase = antigravity
	pkgdesc = Google Antigravity 2.0 — plataforma agéntica de desarrollo (Hub)
	pkgver = 2.15.0
	pkgrel = 1
	url = https://antigravity.google
	arch = x86_64
	license = custom:proprietary
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = libxkbcommon
	depends = at-spi2-core
	depends = cairo
	depends = pango
	depends = cups
	depends = dbus
	depends = expat
	depends = glib2
	depends = mesa
	depends = hicolor-icon-theme
	options = !strip
	source = antigravity-2.15.0.tar.gz::https://storage.googleapis.com/antigravity-public/antigravity-hub/2.15.0-6576870427328512/linux-x64/Antigravity.tar.gz
	source = antigravity.desktop
	sha256sums = 25aa80f2dfcf326cfac97441c692e67c70b05bac0a6a8d7df3582e93480c82e0
	sha256sums = 70447c4b0ae114ac6bc2302d8669022437a6e77e8f25ea96be0ca01e573689c1

pkgname = antigravity
